@charset "utf-8";

@import "variable";
@import "mixin";

#wrap * {
  box-sizing: border-box;
}

.section {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 #{$grid-spacing};
  box-sizing: border-box;

  &.section_full {
    width: 100%;
    min-width: 100%;
    padding: 0;
  }

  &.section_inner {
    position: relative;
  }
}
