$grid-spacing: 8.3333vw;

$max-width: 1920px;
$max-container-width: 1600px;
$min-width: 1280px;
$min-container-width: 1066px;

$break-point-desktop: 1280px;
$break-point-tablet: 1023px;
$break-point-mobile: 767px;

%clearfix:after {
  display: block;
  clear: both;
  content: "";
}

$h100: var(--app-height);
